<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550492156639-hhl26d696pmdiqbg0916ftik13a76fa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550492156639-hhl26d696pmdiqbg0916ftik13a76fa7</string>
	<key>API_KEY</key>
	<string>AIzaSyBF_Go7fJHCRMAGscxrAjBr7VUsmE3j7kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>550492156639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapp</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-fd056</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-fd056.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550492156639:ios:c17bcba3bc3191abfaaf6a</string>
</dict>
</plist>